.App {
  text-align: center;
  margin-top: 20px;
}

.red {
  color: red;
}

.forecast-btn {
  width: 70%;
  text-align: center;
  border: 2px solid rgb(27, 90, 27);
  outline: none;
  background-color: white;
  padding: 4px;
}

.weather-table {
  font-size: larger;
}

.weather-table-container {
  margin: auto;
}
